.chat_container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
    overflow-y: auto;
}

.chat_message {
    position: fixed;
    border: none;
    padding: 10px;
    bottom: 50px;
    left: calc(50% + 200px);
    width: 50%;
    height: 30px;
    border-radius: 10px;
    transform: translateX(-50%);
    font-size: 18px;
    color: black;
    background: rgba(255,255,255,0.5);
}

.chat_message:focus {
    outline: none;
}